{#
/**
 * @file bargain_coins.html.twig
 * Default theme implementation to present Bargain coins data.
 *
 * This template is used when viewing Bargain coins pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bargain_coins()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bargain_coins') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
